//
   Created by Briana on 11/28/15.

extends layout

block content
   body
      .container-fluid
         .row.nav3
            nav.navbar.navbar-custom
               // Brand and toggle get grouped for better mobile display
               .navbar-header.nameTitle.text-center
                  a(href="/").learnMore
                     h2 BRIANA SWIFT
               // Collect the nav links, forms, and other content for toggling
               #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav
                  ul.nav.navbar-nav.navbar-right
                     li
                        a(href='/about').h1.navbar-brand.briananav ABOUT
                     li
                        a(href='/#portfolio').h1.navbar-brand.briananav PORTFOLIO
                     li
                        a(href='/#test').h1.navbar-brand.briananav TESTIMONIALS
                     li
                        a(href='/contact').h1.navbar-brand
                           button CONTACT
         .row.nav3.text-center
            h1 Web Designer & Front-end Web Developer
            br
            a(href='/#portfolio').learnMore
               h5 VIEW BRIANA'S PORTFOLIO
               i.fa.fa-chevron-down
         .row.portbanner
         .row
            br
            .col-xs-3
            .col-xs-6
               .port-img
               p My experience in web development is full-stack and includes design aspects. My projects are scalable, responsive, user friendly, and well documented. Working with a team to create code that works is my goal.
               p Frequently I programming individually, but I also work collaboratively by pair programming in person and remotely. Some Agile development experience.
               h2 Tools
               .skillsList
                  ul.about
                     li
                        h4 Design
                        ul
                           li Mockups
                           li Bootstrap oriented
                     li
                        h4 Front-end Development
                        ul
                           li HTML5/Jade
                           li css/SASS/SCSS
                           li jQuery
                           li Bootstrap
                           li API calls
                     li
                        h4 Data Visualization
                        ul
                           li d3.js
                           li using APIs or original data
                     li
                        h4 Back-end Development
                        ul
                           li Angular.js
                           li React.js/JSX
                           li Express
                           li MongoDB
                           li Node.js/npm
                           li Grunt/gulp/nodemon
                           li Git/GitHub
            .col-xs-3
         .row.learnMoreBG
            .col-xs-4
               a(href='/#portfolio').learnMore
                  h4.text-center SEE EXAMPLES
                     i.fa.fa-chevron-right.padLeft
            .col-xs-4
               a(href='/contact').learnMore
                  h4.text-center HIRE BRIANA
                     i.fa.fa-chevron-right.padLeft
            .col-xs-4
               a(href='https://github.com/brianamarie').learnMore
                  h4.text-center READ THE CODE
                     i.fa.fa-chevron-right.padLeft
         include ./footer.jade