//
   Created by Briana on 10/27/15.
doctype html
html
    head
    title= title
    include ./header.jade
    link(rel='stylesheet', href='/stylesheets/calculator.css')
    block content
        body
            .text-center
                h1 JavaScript Calculator
                br
                .container.background
                    .row
                        .col-md-12
                            h3.screen.text-right 0
                    br
                    .row
                        .col-xs-3
                            h3#1.numberButtons 1
                        .col-xs-3
                            h3#2.numberButtons 2
                        .col-xs-3
                            h3#3.numberButtons 3
                        .col-xs-3
                            h3#C.numberButtons C
                    .row
                        .col-xs-3
                            h3#4.numberButtons 4
                        .col-xs-3
                            h3#5.numberButtons 5
                        .col-xs-3
                            h3#6.numberButtons 6
                        .col-xs-3
                            h3#add.numberButtons +
                    .row
                        .col-xs-3
                            h3#7.numberButtons 7
                        .col-xs-3
                            h3#8.numberButtons 8
                        .col-xs-3
                            h3#9.numberButtons 9
                        .col-xs-3
                            h3#subtract.numberButtons -
                    .row
                        .col-xs-3
                            h3#0.numberButtons 0
                        .col-xs-3
                            h3#equal.numberButtons =
                        .col-xs-3
                            h3#divide.numberButtons /
                        .col-xs-3
                            h3#multiply.numberButtons x
                    .row
                        .col-xs-3
                            h3#decimal.numberButtons .
                        .col-xs-3
                            h3
                                a(href='http://www.js.twitter.com/brianamarie132', target='_blank')
                                    .numberButtons.social
                                        i.fontawesome-.fa-twitter
                        .col-xs-3
                            h3
                                a(href='http://www.js.freecodecamp.com/brianamarie', target='_blank').h3
                                    .numberButtons fcc
                        .col-xs-3
                            h3
                                a(href='https://www.js.youtube.com/playlist?list=PLWKjhJtqVAbmfoj2Th9fvxhHIeqFO7wOy', target='_blank').h3
                                    .numberButtons.social
                                        i.fontawesome-.fa-youtube
                    br
                br
            br
    include ./footer

    script.
        /**
         * Created by Briana on 10/27/15.
         */
        var screen = "";
        var currentEntry = "";
        $("#1").click(function () {
            currentEntry = currentEntry + "1";
            $(".screen").html(currentEntry);
        });
        $("#2").click(function () {
            currentEntry = currentEntry + "2";
            $(".screen").html(currentEntry);
        });
        $("#3").click(function () {
            currentEntry = currentEntry + "3";
            $(".screen").html(currentEntry);
        });
        $("#4").click(function () {
            currentEntry = currentEntry + "4";
            $(".screen").html(currentEntry);
        });
        $("#5").click(function () {
            currentEntry = currentEntry + "5";
            $(".screen").html(currentEntry);
        });
        $("#6").click(function () {
            currentEntry = currentEntry + "6";
            $(".screen").html(currentEntry);
        });
        $("#7").click(function () {
            currentEntry = currentEntry + "7";
            $(".screen").html(currentEntry);
        });
        $("#8").click(function () {
            currentEntry = currentEntry + "8";
            $(".screen").html(currentEntry);
        });
        $("#9").click(function () {
            currentEntry = currentEntry + "9";
            $(".screen").html(currentEntry);
        });
        $("#0").click(function () {
            currentEntry = currentEntry + "0";
            $(".screen").html(currentEntry);
        });
        $("#decimal").click(function () {
            currentEntry = currentEntry + ".";
            $(".screen").html(currentEntry);
        });
        $("#C").click(function () {
            currentEntry = "";
            $(".screen").html("0");
        });
        $("#add").click(function () {
            currentEntry = currentEntry + "+";
            $(".screen").html(currentEntry);
        });
        $("#subtract").click(function () {
            currentEntry = currentEntry + "-";
            $(".screen").html(currentEntry);
        });
        $("#multiply").click(function () {
            currentEntry = currentEntry + "*";
            $(".screen").html(currentEntry);
        });
        $("#divide").click(function () {
            currentEntry = currentEntry + "/";
            $(".screen").html(currentEntry);
        });
        $("#equal").click(function () {
            $(".screen").html(eval(currentEntry));
        })
