//
   Created by Briana on 12/22/15.

//
   Created by Briana on 10/27/15.
doctype html
html
   head
      title= title
      include ./header.jade
      link(rel='stylesheet', href='/stylesheets/campernews.css')
   block content
   body.background
      .container
         h1.cnews Camper News
         .news
      br
      include ./footer

      script.
         var newsLink = function (title) {
            newTitle = title.split('');
            var titleArr = [];
            var re = new RegExp("[a-zA-Z]");
            for (var j = 0; j < newTitle.length; j++) {
               if (re.test(newTitle[j])) {
                  titleArr.push(newTitle[j].toLowerCase())
               } else if ((newTitle[j] === " ") &&
                       (newTitle[j - 2] !== " ")) {
                  titleArr.push("-")
               }
               ;
            }
            var titleStr = titleArr.join('');
            var storyLink = "http://www.freecodecamp.com/news/" + titleStr;
            return storyLink;
         }
         jQuery.ajax({
            url: "http://www.freecodecamp.com/stories/hotStories",
            jsonp: "callback",
            dataType: "json",
            data: {
               q: "select 	title,abstract,url from search.news where query=\"\"",
               format: "json"
            },
            success: function (response) {
               for (var i = 0; i < response.length; i++) {
                  var link = response[i].link.toString();
                  $('.news').append("<h2 class='title cnews'>" + response[i].headline.toString() + "</h2>");
                  $('.news').append("<p class='description cnews'>" + response[i].metaDescription.toString() + "<a href='" + link + "'> Continue reading </a></p>");
                  $('.news').append('<p class="originalPost cnews"><a href="' + newsLink(response[i].headline.toString()) + '" class="cnews"> Posted by: ' + response[i].author.username.toString() + '</a><p>');
                  $('.news').append("<p class='votes cnews'>Votes: " + response[i].upVotes.length.toString() + "</p><br>");
               }
            }
         });

