//
   Created by Briana on 11/28/15.

extends layout
block content
   body
      .container-fluid
         .row.nav3
            nav.navbar.navbar-custom
               // Brand and toggle get grouped for better mobile display
               .navbar-header.nameTitle.text-center
                  a(href="/").learnMore
                     h2 BRIANA SWIFT
               // Collect the nav links, forms, and other content for toggling
               #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav
                  ul.nav.navbar-nav.navbar-right
                     li
                        a(href='/about').h1.navbar-brand.briananav ABOUT
                     li
                        a(href='/#portfolio').h1.navbar-brand.briananav PORTFOLIO
                     li
                        a(href='/#test').h1.navbar-brand.briananav TESTIMONIALS
                     li
                        a(href='/contact').h1.navbar-brand
                           button CONTACT
         .row.nav3.text-center
            h1 Web Designer & Front-end Web Developer
            br
            a(href='/#portfolio').learnMore
               h5 VIEW BRIANA'S PORTFOLIO
               i.fa.fa-chevron-down
         .row.portbanner
         .row
            br
            .col-xs-1
            .col-xs-10.text-center
               h1 Contact Briana
               .container-fluid.contact-fa
                  .col-xs-1.col-md-1.hidden-xs.hidden-sm
                  .col-xs-12.col-sm-6.col-md-2
                     i.fa.fa-envelope.fa-5x.text-left
                     p 372bmswift27@gmail.com
                  .col-xs-12.col-sm-6.col-md-2
                     i.fa.fa-phone.fa-5x
                     p 913-907-4787
                  .col-xs-12.col-sm-4.col-md-2
                     a(href="https://github.com/brianamarie").contact-fa
                        i.fa.fa-github.fa-5x.contact-fa
                        p.contact-fa GitHub
                  .col-xs-12.col-sm-4.col-md-2
                     a(href="http://linkedin.com/in/372bmswift27").contact-fa
                        i.fa.fa-linkedin.fa-5x.contact-fa
                        p.contact-fa LinkedIn
                  .col-xs-12.col-sm-4.col-md-2
                     a(href="http://twitter.com/brianamarie132").contact-fa
                        i.fa.fa-twitter.fa-5x.contact-fa
                        p.contact-fa Twitter
         .row.learnMoreBG
            a(href='/about').learnMore
               h4.text-center LEARN ABOUT BRIANA'S SKILL SET AND WORKFLOW
                  i.fa.fa-chevron-right.padLeft
         include ./footer.jade
