//
   Created by Briana on 12/12/15.

.row.foot.text-left
   br
   .container.col-xs-12.col-sm-4
      .row
         .col-sm-offset-1
            img.col-xs-4.img-responsive.pull-left(src="https://qph.is.quoracdn.net/main-qimg-d3c651ebca56d4c3cfbbebd736674f1d?convert_to_webp=true")
            p.footInfo Briana is a student of the internet, learning constantly from resources ranging from Free Code Camp to language documentation. She contributes to Free Code Camp's curriculum regularly and is an active member of the FCC core team.
            p.footInfo Briana is curious, critical, and solution oriented.
            p.footInfo
               a(href='/contact').footLink Hire Briana for a team or project.
   .container.col-xs-12.col-sm-4
      a(href="https://github.com/brianamarie").footLink
         .row
            .col-xs-1.col-xs-offset-1
               i.fa.fa-github.fa-2x
            .col-xs-9
               p View Briana's work on github.
      br
      a(href="https://twitter.com/brianamarie132").footLink
         .row
            .col-xs-1.col-xs-offset-1
               i.fa.fa-twitter.fa-2x
            .col-xs-9
               p Briana tweets about code, women in technology, her learning, and pizza.
      br
      a(href="https://medium.com/@brianamarie132").footLink
         .row
            .col-xs-1.col-xs-offset-1
               i.fa.fa-medium.fa-2x
            .col-xs-9
               p If you like gifs and reading about code, you'll like my articles on Medium.
   .container.col-xs-12.col-sm-4
      .row
         a(href='/about').footLink
            h5 ABOUT
         p Learn about Briana's skills and workflow
      .row
         a(href='/#portfolio').footLink
            h5 PORTFOLIO
         p View Briana's design & front-end development work
      .row
         a(href='/#test').footLink
            h5 TESTIMONIALS
         p Read recommendations from colleagues
      .row
         a(href="/contact").footLink
            h5 CONTACT
         p Send a message or project request to Briana