extends layout

block content
  body
    .container-fluid
      .row.nav2
        nav.navbar.navbar-custom
          // Brand and toggle get grouped for better mobile display
          .navbar-header.nameTitle.text-center
            a(href="#").learnMore
              h2 BRIANA SWIFT
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/about').h1.navbar-brand.briananav ABOUT
              li
                a(href='/#portfolio').h1.navbar-brand.briananav PORTFOLIO
              li
                a(href='/#test').h1.navbar-brand.briananav TESTIMONIALS
              li
                a(href='/contact').h1.navbar-brand
                  button CONTACT
      .row.nav2.text-center
        h1 Web Designer & Front-end Web Developer
        br
        a(href='/#portfolio').learnMore
          h5 VIEW BRIANA'S PORTFOLIO
          i.fa.fa-chevron-down
      .row.portbanner
      .row
        .row.text-center
          a(name="portfolio")
          a(href='http://www.swiftwilliamswedding.com').portfolio.wedding.col-xs-12.col-sm-6
            #weddingInfo.info.hidden-xs.hidden.left.text-center
              h1 Wedding Site
              p Full-stack project for my own wedding. Node, express, react, MongoDB, & mailgun.
          a(href='/tictactoe').portfolio.tictactoe.col-xs-12.col-sm-6
            #tictactoeInfo.info.hidden-xs.hidden.right.text-center
              h1 Tic-Tac-Toe
              p A front-end original game that doesn't like to lose. jQuery, JavaScript, Bootstrap.
        .row
          a(href='/calculator').portfolio.calculator.col-xs-12.col-sm-4
            #calculatorInfo.info.hidden-xs.hidden.left.text-center
              h1 Calculator
              p Mobile responsive JavaScript powered calculator app.
          a(href='/wikiview').portfolio.wikipedia.col-xs-12.col-sm-4
            #wikiInfo.info.hidden-xs.hidden.text-center
              h1 Wikipedia Viewer
              p Wikipedia API using JSON. Search wiki and view results using this in-browser app.
          a(href='/weather').portfolio.weather.col-xs-12.col-sm-4
            #weatherInfo.info.hidden-xs.hidden.right.text-center
              h1 Weather Page
              p API calls using JSON to display the weather in the current user's location.
        .row
          a(href='/pomodoro').portfolio.pomodoro.col-xs-12.col-sm-4
            #pomodoroInfo.info.hidden-xs.hidden.left.text-center
              h1 Pomodoro Timer
              p Timer app built with JavaScript.
          a(href='/twitch').portfolio.twitch.col-xs-12.col-sm-4
            #twitchInfo.info.hidden-xs.hidden.text-center
              h1 Twitch Streamers
              p API and jQuery display my favorite streamers on mobile responsive app.
          a(href='/quotegen').portfolio.quote.col-xs-12.col-sm-4
            #quotegenInfo.info.hidden-xs.hidden.right.text-center
              h1 Random Quotes
              p Read some of my favorite quotes in this simple front-end quote randomizer.
      .row
        a(name="test")
        .testimonial.col-xs-12.col-sm-8.col-sm-offset-2
          h1.text-center "
          p "Briana is the most badass that I've ever met, and I think you should hire her immediately and give her one million dollars."
          h5.text-right -President Lincoln
          br
      .row
        .testimonial.col-xs-12.col-sm-8.col-sm-offset-2
          h1.text-center "
          p "Briana is the most badass that I've ever met, and I think you should hire her immediately and give her one million dollars."
          h5.text-right -President Lincoln
          br
      .row
        .testimonial.col-xs-12.col-sm-8.col-sm-offset-2
          h1.text-center "
          p "Briana is the most badass that I've ever met, and I think you should hire her immediately and give her one million dollars."
          h5.text-right -President Lincoln
          br
      .row.learnMoreBG
        a(href='/about').learnMore
          h4.text-center LEARN ABOUT BRIANA'S SKILL SET AND WORKFLOW
            i.fa.fa-chevron-right.padLeft
      include ./footer.jade
