extends layout

block content
  body
    .container-fluid
      .row.nav2
        nav.navbar.navbar-custom
          // Brand and toggle get grouped for better mobile display
          .navbar-header.nameTitle.text-center
            h2 BRIANA SWIFT
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#').h1.navbar-brand.navLink ABOUT
              li
                a(href='#').h1.navbar-brand PORTFOLIO
              li
                a(href='#').h1.navbar-brand TESTIMONIALS
              li
                a(href='#').h1.navbar-brand ARTICLES
              li
                a(href='#').h1.navbar-brand
                  button CONTACT
      .row.nav2
        h1.text-center Web Designer & Front-end Web Developer
      .row
        .row
          a(href='https://www.swiftwilliamswedding.com').portfolio.wedding.col-xs-12.col-sm-4
            #weddingInfo.info
              h1.text-center Here's the thing
              p.text-left This wedding site will blow your goddamn mind, and I am a goddess of all things cheese and love.
          a(href='/calculator').portfolio.calculator.col-xs-12.col-sm-4
            #calculatorInfo.info Calculator thing
          a(href='/tictactoe').portfolio.tictactoe.col-xs-12.col-sm-4
            #tictactoeInfo.info Tic tac thing
        .row
          a(href='/quotegen').portfolio.quote.col-xs-12.col-sm-4
            #quotegenInfo.info Quote thing
          a(href='/wikiview').portfolio.wikipedia.col-xs-12.col-sm-4
            #wikiInfo.info Wiki thing
          a(href='/weather').portfolio.weather.col-xs-12.col-sm-4
            #weatherInfo.info Weather thing
        .row
          a(href='/pomodoro').portfolio.pomodoro.col-xs-12.col-sm-4
            #pomodoroInfo.info Clock thing
          a(href='/twitch').portfolio.twitch.col-xs-12.col-sm-4
            #twitchInfo.info Twitch thing
          a(href='https://www.swiftwilliamswedding.com').wedding2.portfolio.wedding.col-xs-12.col-sm-4
            #weddingInfo2.info Hey tricked ya bitch
      .row
        .testimonial.col-xs-12.col-sm-8.col-sm-offset-2
          h1.text-center "
          p "Briana is the most badass that I've ever met, and I think you should hire her immediately and give her one million dollars."
          h5.text-right -President Lincoln
          br
      .row
        .testimonial.col-xs-12.col-sm-8.col-sm-offset-2
          h1.text-center "
          p "Briana is the most badass that I've ever met, and I think you should hire her immediately and give her one million dollars."
          h5.text-right -President Lincoln
          br
      .row
        .testimonial.col-xs-12.col-sm-8.col-sm-offset-2
          h1.text-center "
          p "Briana is the most badass that I've ever met, and I think you should hire her immediately and give her one million dollars."
          h5.text-right -President Lincoln
          br
      .row.learnMore
        h4.text-center LEARN ABOUT BRIANA'S SKILL SET AND WORKFLOW
      .row.foot.text-center
        .col-xs-12.col-sm-4 Picture & small bio
        .col-xs-12.col-sm-4 Links to shit
        .col-xs-12.col-sm-4 More shit
