extends layout

block content
  body
    .container-fluid
      include ./header.jade
      .row.nav3.text-center
        h1 Web Designer & Front-end Web Developer
        br
        a(href='/#portfolio').learnMore
          h5 VIEW BRIANA'S PORTFOLIO
          i.fa.fa-chevron-down
      .row.portbanner
      .row
        .row.text-center
          a(name="portfolio")
          a(href='http://www.swiftwilliamswedding.com').portfolio.wedding.col-xs-12.col-sm-6
            #weddingInfo.info.hidden-xs.hidden.left.text-center
              h1 Wedding Site
              p Full-stack project for my own wedding. Node, express, react, MongoDB, & mailgun.
          a(href='/simon').portfolio.simon.col-xs-12.col-sm-6
            #simonInfo.info.hidden-xs.hidden.right.text-center
              h1 Simon Game
              p JavaScript, bootstrap, jQuery, fun and functional Simon game.
        .row.text-center
          a(href='/tictactoe').portfolio.tictactoe.col-xs-12.col-sm-4
            #tictactoeInfo.info.hidden-xs.hidden.text-center.left
              h1 Tic-Tac-Toe
              p A front-end original game that doesn't like to lose. jQuery, JavaScript, Bootstrap.
          a(href='/campernews').portfolio.campernews.col-xs-12.col-sm-4
            #campernewsInfo.info.hidden-xs.hidden.text-center
              h1 Camper News
              p Simple RESTful API used to display information. jQuery, JavaScript, RESTful API.
          a(href='/calculator').portfolio.calculator.col-xs-12.col-sm-4
            #calculatorInfo.info.hidden-xs.hidden.right.text-center
              h1 Calculator
              p Mobile responsive JavaScript powered calculator app.
        .row
          a(href='/wikiview').portfolio.wikipedia.col-xs-12.col-sm-6
            #wikiInfo.info.hidden-xs.hidden.text-center.left
              h1 Wikipedia Viewer
              p Wikipedia API using JSON. Search wiki and view results using this in-browser app.
          a(href='/weather').portfolio.weather.col-xs-12.col-sm-6
            #weatherInfo.info.hidden-xs.hidden.right.text-center
              h1 Weather Page
              p API calls using JSON to display the weather in the current user's location.
        .row
          a(href='/pomodoro').portfolio.pomodoro.col-xs-12.col-sm-4
            #pomodoroInfo.info.hidden-xs.hidden.left.text-center
              h1 Pomodoro Timer
              p Timer app built with JavaScript.
          a(href='/twitch').portfolio.twitch.col-xs-12.col-sm-4
            #twitchInfo.info.hidden-xs.hidden.text-center
              h1 Twitch Streamers
              p API and jQuery display my favorite streamers on mobile responsive app.
          a(href='/quotegen').portfolio.quote.col-xs-12.col-sm-4
            #quotegenInfo.info.hidden-xs.hidden.right.text-center
              h1 Random Quotes
              p Read some of my favorite quotes in this simple front-end quote randomizer.
      .row
        a(name="test")
        .testimonial.col-xs-12.col-sm-8.col-sm-offset-2
          h1.text-center "
          p "You wouldn't expect a music teacher at an elementary school in Champagin-Urbana to know a whole lot about computer science and software engineering. But she does, because she spends all her time reading about it and she's an excellent teacher and she can really communicate this as well as Salman Kahn can communicate in his Kahn Academy videos."
          h5.text-right -Quincy Larson, creator of Free Code Camp
          br
      .row.learnMoreBG
        a(href='/about').learnMore
          h4.text-center LEARN ABOUT BRIANA'S SKILL SET AND WORKFLOW
            i.fa.fa-chevron-right.padLeft
      include ./footer.jade