extends layout

block content
  body
    .container-fluid
      .row.nav2
        nav.navbar.navbar-custom
          // Brand and toggle get grouped for better mobile display
          .navbar-header.nameTitle.text-center
            h2 BRIANA SWIFT
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#').h1.navbar-brand.navLink ABOUT
              li
                a(href='#').h1.navbar-brand PORTFOLIO
              li
                a(href='#').h1.navbar-brand TESTIMONIALS
              li
                a(href='#').h1.navbar-brand
                  button CONTACT
      .row.nav2
        h1.text-center Web Designer & Front-end Web Developer
      .row
        .row.text-center
          a(href='http://www.swiftwilliamswedding.com').portfolio.wedding.col-xs-12.col-sm-6
            #weddingInfo.info.hidden-xs.hidden.left
              h1.text-center Wedding Site
              p.text-left Full-stack project for my own wedding.
              p.text-left RSVP form in React connecting with MongoDB & automated email using Mailgun API.
          a(href='/tictactoe').portfolio.tictactoe.col-xs-12.col-sm-6
            #tictactoeInfo.info.hidden-xs.hidden.right
              h1.text-center Tic-Tac-Toe
              p.text-left A front-end original game that doesn't like to lose.
        .row
          a(href='/calculator').portfolio.calculator.col-xs-12.col-sm-4
            #calculatorInfo.info.hidden-xs.hidden.left
              h1.text-center Calculator
              p.text-left Check out the JS powered calculator I built as a front-end project for Free Code Camp.
          a(href='/wikiview').portfolio.wikipedia.col-xs-12.col-sm-4
            #wikiInfo.info.hidden-xs.hidden
              h1.text-center Wikipedia Viewer
              p.text-left Simple interface using Wikipedia API to search and view Wikipedia's articles.
          a(href='/weather').portfolio.weather.col-xs-12.col-sm-4
            #weatherInfo.info.hidden-xs.hidden.right
              h1.text-center Weather Page
              p.text-left View the current weather in your location.
        .row
          a(href='/pomodoro').portfolio.pomodoro.col-xs-12.col-sm-4
            #pomodoroInfo.info.hidden-xs.hidden.left
              h1.text-center Pomodoro Timer
              p.text-left Increase your productivity with this simple but effective 25 minute timer built with JavaScript.
          a(href='/twitch').portfolio.twitch.col-xs-12.col-sm-4
            #twitchInfo.info.hidden-xs.hidden
              h1.text-center Twitch Streamers
              p.text-left Check out my favorite streamers on Twitch, and see who is online by visiting this app.
          a(href='/quotegen').portfolio.quote.col-xs-12.col-sm-4
            #quotegenInfo.info.hidden-xs.hidden.right
              h1.text-center Random Quotes
              p.text-left Read some of my favorite quotes in this simple front-end quote randomizer.
      .row
        .testimonial.col-xs-12.col-sm-8.col-sm-offset-2
          h1.text-center "
          p "Briana is the most badass that I've ever met, and I think you should hire her immediately and give her one million dollars."
          h5.text-right -President Lincoln
          br
      .row
        .testimonial.col-xs-12.col-sm-8.col-sm-offset-2
          h1.text-center "
          p "Briana is the most badass that I've ever met, and I think you should hire her immediately and give her one million dollars."
          h5.text-right -President Lincoln
          br
      .row
        .testimonial.col-xs-12.col-sm-8.col-sm-offset-2
          h1.text-center "
          p "Briana is the most badass that I've ever met, and I think you should hire her immediately and give her one million dollars."
          h5.text-right -President Lincoln
          br
      .row.learnMore
        a(href="#").learnMore
          h4.text-center LEARN ABOUT BRIANA'S SKILL SET AND WORKFLOW
            i.fa.fa-chevron-right.padLeft
      .row.foot.text-left
        br
        .container.col-xs-12.col-sm-4
          .row
            .col-sm-offset-1
              img.col-xs-4.img-responsive.pull-left(src="https://qph.is.quoracdn.net/main-qimg-d3c651ebca56d4c3cfbbebd736674f1d?convert_to_webp=true")
              p.footInfo Here is the text about the portfolio. Briana was born a unicorn, but lost a bet and had to become human for 100 years. She has decided to make her purpose during that time be to help and confuse others.
              p.footInfo Her favorite foods include miso ramen from Yellowfin Sushi in Champaign, IL and the Z-Man sandwich from Kansas City Joe's BBQ.
        .container.col-xs-12.col-sm-4
          .row
            .col-xs-1.col-xs-offset-1
              i.fa.fa-github.fa-2x
            .col-xs-9
              p View Briana's work on github.
          br
          .row
            .col-xs-1.col-xs-offset-1
              i.fa.fa-twitter.fa-2x
            .col-xs-9
              p Briana tweets about code, women in technology, her learning, and pizza.
          .row
            .col-xs-1.col-xs-offset-1
              i.fa.fa-medium.fa-2x
            .col-xs-9
              p If you like gifs and reading about code, you'll like my articles on Medium.
        .container.col-xs-12.col-sm-4
          .row
            a(href="#").footLink
              h5 ABOUT
            p Learn about Briana's skills and workflow
          .row
            a(href="#").footLink
              h5 PORTFOLIO
            p View Briana's design & front-end development work
          .row
            a(href="#").footLink
              h5 TESTIMONIALS
            p Read recommendations from colleagues
          .row
            a(href="#").footLink
              h5 CONTACT
            p Send a message or project request to Briana