extends layout

block content
  body
    nav.navbar.navbar-custom
      .container-fluid.nav
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          .nameTitle
            h1 BRIANA SWIFT
            h5 Web Designer & Front-end Developer
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#').h1.navbar-brand.navLink ABOUT
            li
              a(href='#').h1.navbar-brand PORTFOLIO
            li
              a(href='#').h1.navbar-brand TESTIMONIALS
            li
              a(href='#').h1.navbar-brand ARTICLES
            li
              a(href='#').h1.navbar-brand
                button CONTACT