//
   Created by Briana on 11/28/15.

//
   Created by Briana on 10/26/15.
doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/stylesheets/calculator.css')
      link(href='http://fonts.googleapis.com/css?family=VT323', rel='stylesheet', type='text/css')
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin='anonymous')
      script(src="https://fb.me/react-0.13.3.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
   block content
      body
         .container
            header
               span#johnquestions.text-left
                  h1.text-center John's List of Questions
                  h4.text-center John, you need to ask these questions.
                  ul
                     li Cost
                     ul
                        li How much is rent?
                        li What utilities are included, and what are the responsibility of the tenant?
                        li What is the building average for those utilities?
                     li Amenities
                     ul
                        li Parking?
                        li Internet speed and cost?
                        li Locked entry at floor level?
                        li Is laundry in unit or on the premisis, and what is the cost?
                     li Culture
                     ul
                        li Is there a building policy on noise levels or times of the day?
                        li Can you offer a crime report for the building and the surrounding areas?
                        li For an average maitenance request, like
                     li Other
                     ul
                        li How frequently is the building inspected for bugs/rodents?
                        li
