//
   Created by Briana on 10/26/15.
doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/stylesheets/pomodoro.css')
      link(href='http://fonts.googleapis.com/css?family=VT323', rel='stylesheet', type='text/css')
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin='anonymous')
      script(src="https://fb.me/react-0.13.3.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
   block content
      body
         .container
            header.text-center
               span#dummy
               h1 Basic Pomodoro Timer
               .row
                  .col-md-6
                  h4 A Pomodoro clock is based on the Pomodoro theory of productivity, where 25 minutes of work is balanced by a following 5 minutes of rest. After the fourth interval of 25 minutes, a 15 minute break is taken. As it stands, this timer measures the 25 minute work period.
               br
               .row
                  .clockWrapper2.col-md-12
                     .clockWrapper
                        .row
                           .minuteClock.clock
                              h1#minuteTimer 25:
                           .secondClock.clock
                              h1#secondTimer 00
               br
               button.startButton Get to work!
   script.
      /**
       * Created by Briana on 10/25/15.
       */
      $('.startButton').click(function () {
         var minuteCount = 25;
         var secondCount = 60;
         var minuteCounter = setInterval(minuteTimer, 60000);
         var secondCounter = setInterval(secondTimer, 1000); //1000 will  run it every 1 second
         function minuteTimer() {
            minuteCount -= 1;
            if (minuteCount <= 0) {
               clearInterval(minuteCounter);
               //counter ended, do something here
               return;
            }
            //Do code for showing the number of seconds here
            document.getElementById("minuteTimer").innerHTML = minuteCount - 1 + ":"; // watch for spelling
         }

         function secondTimer() {
            if ((minuteCount === 25) &&
                    (secondCount <= 60)) {
               document.getElementById("minuteTimer").innerHTML = "24:";
            }
            secondCount -= 1;
            if ((secondCount < 0) && (minuteCount !== 0)) {
               secondCount = 59;
               //counter ended, do something here
               return;
            }
            //Do code for showing the number of seconds here
            if (secondCount > 9) {
               document.getElementById("secondTimer").innerHTML = secondCount;
            } else {
               document.getElementById("secondTimer").innerHTML = ("0" + secondCount);
            }
            //not sure why this isn't working
            if ((minuteCount === 0) && (secondCount === 0)) {
               $("#dummy").append('<audio autoplay> <source src="http://www.js.freesoundfiles.com/soundfiles/Sounds/Grand%20Piano.wav" type="audio/ogg"></audio>');
               minuteCount = 25;
            }
            ;
         }
      })
