//
                     Created by Briana on 10/27/15.
doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/stylesheets/tictactoe.css')
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin='anonymous')
      link(href='http://fonts.googleapis.com/css?family=Patua+One', rel='stylesheet', type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Niconne', rel='stylesheet', type='text/css')
      script(src="https://fb.me/react-0.13.3.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
   block content
      body.text-center
         h1  Tic-Tac-Toe
         .container
            .row
               h2.hover.col-xs-6.preferX I want to be X!
               h2.hover.col-xs-6.preferO I want to be O!
         .container.hover
            .row
               div#1.top.left.square.col-xs-4
               div#2.top.square.col-xs-4
               div#3.top.right.square.col-xs-4
            .row
               div#4.left.square.col-xs-4
               div#5.square.col-xs-4
               div#6.right.square.col-xs-4
            .row
               div#7.bottom.left.square.col-xs-4
               div#8.bottom.square.col-xs-4
               div#9.bottom.right.square.col-xs-4
         .container
            .row
               h2#newGame.hover.col-xs-12 New Game
      script.
         /**
          * Created by Briana on 10/27/15.
          */
         var user = "x";
         var comp = "o";
         $('.preferX').click(function(){
            user = "x";
            comp = "o";
         });
         $('.preferO').click(function(){
            user = "o";
            comp = "x";
         });

         var optionBox = [1, 2, 3, 4, 5, 6, 7, 8, 9];

         var choice = undefined;
         var randomNumber = optionBox[Math.floor(Math.random() * (optionBox.length - 1) + 1)];

         function dangerZone(){
            randomNumber = optionBox[Math.floor(Math.random() * (optionBox.length - 1) + 1)];
            if (($("#1").hasClass("user") && $("#2").hasClass("user")) && !$("#3").hasClass("occupado") ||
                    ($("#1").hasClass("comp") && $("#2").hasClass("comp") && !$("#3").hasClass("occupado"))){
               console.log("oneDZ");
               return 3;
            } else if (($("#1").hasClass("user") && $("#3").hasClass("user")) && !$("#2").hasClass("occupado") ||
                    ($("#1").hasClass("comp") && $("#3").hasClass("comp") && !$("#2").hasClass("occupado"))){
               console.log("twoDZ");
               return 2;
            } else if (($("#3").hasClass("user") && $("#2").hasClass("user")) && !$("#1").hasClass("occupado") ||
                    (($("#3").hasClass("comp") && $("#2").hasClass("comp") && !$("#1").hasClass("occupado")))){
               console.log("threeDZ");
               return 1;
            } else if (($("#4").hasClass("user") && $("#5").hasClass("user")) && !$("#6").hasClass("occupado") ||
                    (($("#4").hasClass("comp") && $("#5").hasClass("comp") && !$("#6").hasClass("occupado")))){
               console.log("fourDZ");
               return 6;
            } else if (($("#4").hasClass("user") && $("#6").hasClass("user")) && !$("#5").hasClass("occupado") ||
                    (($("#4").hasClass("comp") && $("#6").hasClass("comp") && !$("#5").hasClass("occupado")))){
               console.log("fiveDZ");
               return 5;
            } else if (($("#5").hasClass("user") && $("#6").hasClass("user")) && !$("#4").hasClass("occupado") ||
                    (($("#5").hasClass("comp") && $("#6").hasClass("comp") && !$("#4").hasClass("occupado")))){
               console.log("sixDZ");
               return 4;
            } else if (($("#7").hasClass("user") && $("#8").hasClass("user")) && !$("#9").hasClass("occupado") ||
                    (($("#7").hasClass("comp") && $("#8").hasClass("comp") && !$("#9").hasClass("occupado")))){
               console.log("sevenDZ");
               return 9;
            } else if (($("#7").hasClass("user") && $("#9").hasClass("user")) && !$("#8").hasClass("occupado") ||
                    (($("#7").hasClass("comp") && $("#9").hasClass("comp") && !$("#8").hasClass("occupado")))){
               console.log("eightDZ");
               return 8;
            } else if (($("#8").hasClass("user") && $("#9").hasClass("user")) && !$("#7").hasClass("occupado") ||
                    (($("#8").hasClass("comp") && $("#9").hasClass("comp") && !$("#7").hasClass("occupado")))){
               console.log("nineDZ");
               return 7;
            } else if (($("#1").hasClass("user") && $("#4").hasClass("user")) && !$("#7").hasClass("occupado") ||
                    (($("#1").hasClass("comp") && $("#4").hasClass("comp") && !$("#7").hasClass("occupado")))){
               console.log("tenDZ");
               return 7;
            } else if (($("#1").hasClass("user") && $("#7").hasClass("user")) && !$("#4").hasClass("occupado") ||
                    (($("#1").hasClass("comp") && $("#7").hasClass("comp") && !$("#4").hasClass("occupado")))){
               console.log("elevenDZ");
               return 4;
            } else if (($("#4").hasClass("user") && $("#7").hasClass("user")) && !$("#1").hasClass("occupado") ||
                    (($("#4").hasClass("comp") && $("#7").hasClass("comp") && !$("#1").hasClass("occupado")))){
               console.log("twelveDZ");
               return 1;
            } else if (($("#2").hasClass("user") && $("#5").hasClass("user")) && !$("#8").hasClass("occupado") ||
                    (($("#2").hasClass("comp") && $("#5").hasClass("comp") && !$("#8").hasClass("occupado")))){
               console.log("thirteenDZ");
               return 8;
            } else if (($("#8").hasClass("user") && $("#2").hasClass("user")) && !$("#5").hasClass("occupado") ||
                    (($("#8").hasClass("comp") && $("#2").hasClass("comp") && !$("#5").hasClass("occupado")))){
               console.log("fourteenDZ");
               return 5;
            } else if (($("#5").hasClass("user") && $("#8").hasClass("user")) && !$("#2").hasClass("occupado") ||
                    (($("#5").hasClass("comp") && $("#8").hasClass("comp") && !$("#2").hasClass("occupado")))){
               console.log("fifteenDZ");
               return 2;
            } else if (($("#3").hasClass("user") && $("#6").hasClass("user")) && !$("#9").hasClass("occupado") ||
                    (($("#3").hasClass("comp") && $("#6").hasClass("comp") && !$("#9").hasClass("occupado")))){
               console.log("sixteenDZ");
               return 9;
            } else if (($("#3").hasClass("user") && $("#9").hasClass("user")) && !$("#6").hasClass("occupado") ||
                    (($("#3").hasClass("comp") && $("#9").hasClass("comp") && !$("#6").hasClass("occupado")))){
               console.log("seventeenDZ");
               return 6;
            } else if (($("#6").hasClass("user") && $("#9").hasClass("user")) && !$("#3").hasClass("occupado") ||
                    (($("#6").hasClass("comp") && $("#9").hasClass("comp") && !$("#3").hasClass("occupado")))){
               console.log("eighteenDZ");
               return 3;
            } else if (($("#5").hasClass("user") && $("#1").hasClass("user")) && !$("#9").hasClass("occupado") ||
                    (($("#5").hasClass("comp") && $("#1").hasClass("comp") && !$("#9").hasClass("occupado")))){
               console.log("nineteenDZ");
               return 9;
            } else if (($("#1").hasClass("user") && $("#9").hasClass("user")) && !$("#5").hasClass("occupado") ||
                    (($("#1").hasClass("comp") && $("#9").hasClass("comp") && !$("#5").hasClass("occupado")))){
               console.log("twentyDZ");
               return 5;
            } else if (($("#5").hasClass("user") && $("#9").hasClass("user")) && !$("#1").hasClass("occupado") ||
                    (($("#5").hasClass("comp") && $("#9").hasClass("comp") && !$("#1").hasClass("occupado")))){
               console.log("twentyoneDZ");
               return 1;
            } else if (($("#3").hasClass("user") && $("#7").hasClass("user")) && !$("#5").hasClass("occupado") ||
                    (($("#3").hasClass("comp") && $("#7").hasClass("comp") && !$("#5").hasClass("occupado")))){
               console.log("twentytwoDZ");
               return 5;
            } else if (($("#3").hasClass("user") && $("#5").hasClass("user")) && !$("#7").hasClass("occupado") ||
                    (($("#3").hasClass("comp") && $("#5").hasClass("comp") && !$("#7").hasClass("occupado")))){
               console.log("twentythreeDZ");
               return 7;
            } else if (($("#5").hasClass("user") && $("#7").hasClass("user")) && !$("#3").hasClass("occupado") ||
                    (($("#5").hasClass("comp") && $("#7").hasClass("comp") && !$("#3").hasClass("occupado")))){
               console.log("twentyfourDZ");
               return 3;
            }else {
               console.log("twentyfiveDZ");
               return randomNumber;
            }
         }
         function checkWin(){
            if ($("#1").html() === $("#2").html() &&
                $("#1").html() === $("#3").html() &&
                $("#1").html().length > 0){
               $("#1").css('color', 'red');
               $("#2").css('color', 'red');
               $("#3").css('color', 'red');
            }
            if ($("#4").html() === $("#5").html() &&
                    $("#4").html() === $("#6").html() &&
                    $("#4").html().length > 0) {
               $("#4").css('color', 'red');
               $("#5").css('color', 'red');
               $("#6").css('color', 'red');
            }
            if ($("#7").html() === $("#8").html() &&
                    $("#7").html() === $("#9").html() &&
                    $("#7").html().length > 0) {
               $("#7").css('color', 'red');
               $("#8").css('color', 'red');
               $("#9").css('color', 'red');
            }
            if ($("#1").html() === $("#4").html() &&
                    $("#1").html() === $("#7").html() &&
                    $("#1").html().length > 0) {
               $("#1").css('color', 'red');
               $("#4").css('color', 'red');
               $("#7").css('color', 'red');
            }
            if ($("#2").html() === $("#5").html() &&
                    $("#2").html() === $("#8").html() &&
                    $("#2").html().length > 0) {
               $("#2").css('color', 'red');
               $("#5").css('color', 'red');
               $("#8").css('color', 'red');
            }
            if ($("#3").html() === $("#6").html() &&
                    $("#3").html() === $("#9").html() &&
                    $("#3").html().length > 0) {
               $("#3").css('color', 'red');
               $("#6").css('color', 'red');
               $("#9").css('color', 'red');
            }
            if ($("#1").html() === $("#5").html() &&
                    $("#1").html() === $("#9").html() &&
                    $("#1").html().length > 0) {
               $("#1").css('color', 'red');
               $("#5").css('color', 'red');
               $("#9").css('color', 'red');
            }
            if ($("#3").html() === $("#5").html() &&
                    $("#3").html() === $("#7").html() &&
                    $("#3").html().length > 0) {
               $("#3").css('color', 'red');
               $("#5").css('color', 'red');
               $("#7").css('color', 'red');
            }
         }

         function compResponse(){
            console.log(optionBox);
            if (optionBox.indexOf(5) >= 0){
               randomChoice = 5;
               console.log("nobody clicked center");
            } else if ((optionBox.indexOf(5) === -1) &&
                            optionBox.length === 8){
               randomChoice = 1;
               console.log("first click in center");
            } else {
               randomChoice = dangerZone();
               console.log(randomChoice + "is the choice from DZ");
            }
            var workingID = "#" + randomChoice.toString();
            $(workingID).html(comp);
            $(workingID).addClass("comp").addClass("occupado");
            var index = optionBox.indexOf(randomChoice);
            if (index > -1) {
               optionBox.splice(index, 1);
            }
            console.log(optionBox);
         }

         $("#1").click(function () {
            $(this).html(user);
            $("#1").addClass("user").addClass("occupado");
            var index = optionBox.indexOf(1);
            if (index > -1) {
               optionBox.splice(index, 1);
            }
            compResponse();
            checkWin();
         })
         $("#2").click(function () {
            $(this).html(user);
            $("#2").addClass("user").addClass("occupado");
            var index = optionBox.indexOf(2);
            if (index > -1) {
               optionBox.splice(index, 1);
            }
            compResponse();
            checkWin();
         })
         $("#3").click(function () {
            $(this).html(user);
            $("#3").addClass("user").addClass("occupado");
            var index = optionBox.indexOf(3);
            if (index > -1) {
               optionBox.splice(index, 1);
            }
            compResponse();
            checkWin();
         })
         $("#4").click(function () {
            $(this).html(user);
            $("#4").addClass("user").addClass("occupado");
            var index = optionBox.indexOf(4);
            if (index > -1) {
               optionBox.splice(index, 1);
            }
            compResponse();
            checkWin();
         })
         $("#5").click(function () {
            $(this).html(user);
            $("#5").addClass("user").addClass("occupado");
            var index = optionBox.indexOf(5);
            if (index > -1) {
               optionBox.splice(index, 1);
            }
            compResponse();
            checkWin();
         })
         $("#6").click(function () {
            $(this).html(user);
            $("#6").addClass("user").addClass("occupado");
            var index = optionBox.indexOf(6);
            if (index > -1) {
               optionBox.splice(index, 1);
            }
            compResponse();
            checkWin();
         })
         $("#7").click(function () {
            $(this).html(user);
            $("#7").addClass("user").addClass("occupado");
            var index = optionBox.indexOf(7);
            if (index > -1) {
               optionBox.splice(index, 1);
            }
            compResponse();
            checkWin();
         })
         $("#8").click(function () {
            $(this).html(user);
            $("#8").addClass("user").addClass("occupado");
            var index = optionBox.indexOf(8);
            if (index > -1) {
               optionBox.splice(index, 1);
            }
            compResponse();
            checkWin();
         })
         $("#9").click(function () {
            $(this).html(user);
            $("#9").addClass("user").addClass("occupado");
            var index = optionBox.indexOf(9);
            if (index > -1) {
               optionBox.splice(index, 1);
            }
            compResponse();
            checkWin();
         })
         $("#newGame").click(function () {
            optionBox = [1, 2, 3, 4, 5, 6, 7, 8, 9];
            console.log(optionBox);
            $('.square').empty();
            $("#1").css('color', 'black').removeClass("user").removeClass("comp").removeClass("occupado");
            $("#2").css('color', 'black').removeClass("user").removeClass("comp").removeClass("occupado");
            $("#3").css('color', 'black').removeClass("user").removeClass("comp").removeClass("occupado");
            $("#4").css('color', 'black').removeClass("user").removeClass("comp").removeClass("occupado");
            $("#5").css('color', 'black').removeClass("user").removeClass("comp").removeClass("occupado");
            $("#6").css('color', 'black').removeClass("user").removeClass("comp").removeClass("occupado");
            $("#7").css('color', 'black').removeClass("user").removeClass("comp").removeClass("occupado");
            $("#8").css('color', 'black').removeClass("user").removeClass("comp").removeClass("occupado");
            $("#9").css('color', 'black').removeClass("user").removeClass("comp").removeClass("occupado");
         })




         //if user picks corner for first choice, comp goes to middle
         //if user picks center for first choice, comp picks corner
