//
   Created by Briana on 10/27/15.
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/twitch.css')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin='anonymous')
        link(href='http://fonts.googleapis.com/css?family=Patua+One', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Niconne', rel='stylesheet', type='text/css')
        script(src="https://fb.me/react-0.13.3.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    block content
    body.background
        .container.text-center
            .row
                h1.md-display-2 Twitch Streamers
            .row
                .col-md-6
                    .well.md-body-6
                        h1.md-display-3  ONLINE
                        h4.streamName
                        p.streamInfo
                .col-md-6
                    .well.md-body-6
                        h1.md-display-3 OFFLINE
                        h4.offline
        script.
            /**
             * Created by Briana on 10/27/15.
             */
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/medrybw",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append();
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.js.twitch.tv/medrybw">medrybw</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.js.twitch.tv/medrybw">medrybw</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //freecodecamp
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/freecodecamp",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>Free Code Camp</p>");
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.js.twitch.tv/freecodecamp">Free Code Camp</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.js.twitch.tv/freecodecamp">Free Code Camp</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //storbeck
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/storbeck",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>storbeck</p>");
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.js.twitch.tv/storbeck">storbeck</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.js.twitch.tv/storbeck">storbeck</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //terakilobyte
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/terakilobyte",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append('<p><a href = "http://www.js.twitch.tv/terakilobyte">terakilobyte</a></p>');
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.js.twitch.tv/terakilobyte">terakilobyte</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.js.twitch.tv/terakilobyte">terakilobyte</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //piecedigital
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/piecedigital",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>piecedigital</p>");
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.js.twitch.tv/piecedigital">piecedigital</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.js.twitch.tv/piecedigital">piecedigital</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //habathcx
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/habathcx",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>habathcx</p>");
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.js.twitch.tv/habathcx">habathcx</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.js.twitch.tv/habathcx">habathcx</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //RobotCaleb
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/RobotCaleb",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>RobotCaleb</p>");
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.js.twitch.tv/robotcaleb">RobotCaleb</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.js.twitch.tv/robotcaleb">RobotCaleb</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //thomasballinger
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/thomasballinger",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>thomasballinger</p>");
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.js.twitch.tv/thomasballinger">thomasballinger</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.js.twitch.tv/thomasballinger">thomasballinger</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //brianamarie
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/brianamarie",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>brianamarie</p>");
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.js.twitch.tv/brianamarie">brianamarie</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.js.twitch.tv/brianamarie">brianamarie</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });


