//
   Created by Briana on 10/27/15.
doctype html
html
    head
        title= title
        include ./header.jade
        link(rel='stylesheet', href='/stylesheets/twitch.css')
        link(href='http://fonts.googleapis.com/css?family=Patua+One', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Niconne', rel='stylesheet', type='text/css')
    block content
    body.background
        .container.text-center
            .row
                h1.md-display-2 Twitch Streamers
            .row
                .col-md-6
                    .well.md-body-6
                        h1.md-display-3  ONLINE
                        h4.streamName
                        p.streamInfo
                .col-md-6
                    .well.md-body-6
                        h1.md-display-3 OFFLINE
                        h4.offline
            .row.error
        br
        include ./footer.jade
        script.
            /**
             * Created by Briana on 10/27/15.
             */
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/medrybw",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append();
                    if (response.status === 422){
                        $('.error').append('<p><i>Sadly, medrybw has retired from twitch.tv. That channel is now gone.</i></p>');
                    }
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.twitch.tv/medrybw" class="twitchlinks">medrybw</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.twitch.tv/medrybw"class="twitchlinks">medrybw</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //freecodecamp
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/freecodecamp",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>Free Code Camp</p>");
                    if (response.status === 422){
                        $('.error').append('<p><i>Sadly, FreeCodeCamp has retired from twitch.tv. That channel is now gone.</i></p>');
                    }
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.twitch.tv/freecodecamp" class="twitchlinks">Free Code Camp</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.twitch.tv/freecodecamp" class="twitchlinks">Free Code Camp</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //storbeck
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/storbeck",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>storbeck</p>");
                    if (response.status === 422){
                        $('.error').append('<p><i>Sadly, storbeck has retired from twitch.tv. That channel is now gone.</i></p>');
                    }
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.twitch.tv/storbeck" class="twitchlinks">storbeck</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.twitch.tv/storbeck" class="twitchlinks">storbeck</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //terakilobyte
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/terakilobyte",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append('<p><a href = "http://www.js.twitch.tv/terakilobyte">terakilobyte</a></p>');
                    if (response.status === 422){
                        $('.error').append('<p><i>Sadly, terakilobyte has retired from twitch.tv. That channel is now gone.</i></p>');
                    }
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.twitch.tv/terakilobyte" class="twitchlinks">terakilobyte</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.twitch.tv/terakilobyte" class="twitchlinks">terakilobyte</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //piecedigital
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/piecedigital",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>piecedigital</p>");
                    if (response.status === 422){
                        $('.error').append('<p><i>Sadly, piecedigital has retired from twitch.tv. That channel is now gone.</i></p>');
                    }
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.twitch.tv/piecedigital" class="twitchlinks">piecedigital</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.twitch.tv/piecedigital" class="twitchlinks">piecedigital</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //habathcx
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/habathcx",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>habathcx</p>");
                    if (response.status === 422){
                        $('.error').append('<p><i>Sadly, habathcx has retired from twitch.tv. That channel is now gone.</i></p>');
                    }
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.twitch.tv/habathcx" class="twitchlinks">habathcx</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.twitch.tv/habathcx" class="twitchlinks">habathcx</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //RobotCaleb
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/RobotCaleb",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>RobotCaleb</p>");
                    if (response.status === 422){
                        $('.error').append('<p><i>Sadly, RobotCaleb has retired from twitch.tv. That channel is now gone.</i></p>');
                    }
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.twitch.tv/robotcaleb" class="twitchlinks">RobotCaleb</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.twitch.tv/robotcaleb" class="twitchlinks">RobotCaleb</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //brunofin
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/brunofin",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>brunofin</p>");
                    if (response.status === 422){
                        $('.error').append('<p><i>Sadly, brunofin has retired from twitch.tv. That channel is now gone.</i></p>');
                    }
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.twitch.tv/brunofin" class="twitchlinks">brunofin</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.twitch.tv/brunofin" class="twitchlinks">brunofin</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });
            //brianamarie132
            jQuery.ajax({
                url: "https://api.twitch.tv/kraken/streams/brianamarie132",
                jsonp: "callback",
                dataType: "jsonp",
                data: {
                    q: "select 	title,abstract,url from search.news where query=\"\"",
                    format: "json"
                },
                success: function (response) {
                    $('.all').append("<p>brianamarie132</p>");
                    if (response.status === 422){
                        $('.error').append('<p><i>Sadly, brianamarie132 has retired from twitch.tv. That channel is now gone.</i></p>');
                    }
                    if (response.stream == null) {
                        $('.offline').append('<p><a href = "http://www.twitch.tv/brianamarie" class="twitchlinks">brianamarie132</a></p>');
                    } else {
                        $('.streamName').append('<p><a href = "http://www.twitch.tv/brianamarie132" class="twitchlinks">brianamarie132</a></p>');
                        $('.streamInfo').append(response.stream.channel.status.toString());
                    }
                }
            });


