//
   Created by Briana on 10/26/15.

//
   Created by Briana on 10/26/15.
doctype html
html
   head
      title= title
      include ./header.jade
      link(rel='stylesheet', href='/stylesheets/weather.css')
   block content
      body
         .container.text-center.shade
            h1.response
            button.f Metric
            br
            h2.temp
            br
            h3.rain
            br
            h3.wind
      include ./footer.jade

   script.
      var city = "";
      var zip = "";
      var state = "";
      //get zip && city
      jQuery.ajax({
         url: "http://ipinfo.io",
         jsonp: "callback",
         dataType: "jsonp",
         data: {
            q: "select 	title,abstract,url from search.news where query=\"\"",
            format: "json"
         },
         success: function (response) {
            city = response.city.toString();
            zip = response.postal.toString();
            $('.response').append(city + ", " + zip);
            var getState = ("http://api.wunderground.com/api/75fccdfe0b1075c9/geolookup/q/" + zip + ".json");
            jQuery.ajax({
               url: getState,
               jsonp: "callback",
               dataType: "jsonp",
               data: {
                  q: "select 	title,abstract,url from search.news where query=\"\"",
                  format: "json"
               },
               success: function (response) {
                  state = response.location.state.toString();
                  var weatherAPI = ("http://api.wunderground.com/api/75fccdfe0b1075c9/conditions/q/" + state + "/" + city + ".json");
                  jQuery.ajax({
                     url: weatherAPI,
                     jsonp: "callback",
                     dataType: "jsonp",
                     data: {
                        q: "select 	title,abstract,url from search.news where query=\"\"",
                        format: "json"
                     },
                     success: function (response) {
                        console.log(response);
                        $('.temp').append(response.current_observation.temp_f.toString() + "&#176;f");
                        var temp = response.current_observation.temp_f;
                        $('.rain').append(response.current_observation.precip_1hr_in.toString() + '" of precipitation this hour');
                        $('.wind').append("Wind: " + response.current_observation.wind_string);

                        $('button').click(function () {
                           if ($('button').hasClass('.f')) {
                              $('.temp').html(response.current_observation.temp_f.toString() + "&#176;f");
                              $('button').removeClass('.f');
                              $('.f').html("Metric");
                              $('.rain').html(response.current_observation.precip_1hr_in.toString() + '" of precipitation this hour');
                              $('.wind').html("Wind: " + response.current_observation.wind_string);
                           } else {
                              $('button').addClass('.f');
                              $('.f').html("Imperial");
                              $('.temp').html(response.current_observation.temp_c.toString() + "&#176;c");
                              $('.rain').html(response.current_observation.precip_1hr_metric.toString() + 'mm of precipitation this hour');
                              $('.wind').html("Wind: " + response.current_observation.wind_kph + " KPH from the " + response.current_observation.wind_dir);
                           }
                        });

                        if (temp >= 85) {
                           $('body').css({"background-image": 'url("http://alifeabroad.com/wp-content/uploads/2011/06/Beautiful-Sunset.jpg")'});
                        } else if ((temp >= 50) && (temp < 85)) {
                           $('body').css({"background-image": 'url("http://miriadna.com/desctopwalls/images/max/Across-the-field.jpg")'});
                        } else if (temp >= 32) {
                           $('body').css({"background-image": 'url("https://718be87de2f7403df3e8-1d1221e10f82d636f1f5dc20a850700a.ssl.cf5.rackcdn.com/files/coldweather_sleepingcolddog_pic6.jpg")'});
                        }
                     }
                  });
               }
            });
         }
      });
