@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

*
.screen {
    background-color: grey;
    padding: 5px 5px 5px 5px;
    margin: 0 auto;
    color: black;
    width: 40%;
}

.background {
    background-color: black;
    border-radius: 10px;
    padding: 1%;
    border: 4px solid grey;
}

.numberButtons {
    cursor: pointer;
    color: rgb(100,100,100);
    background-color: rgb(200,200,200);
    border: 2px solid rgb(100,100,100);
    padding: 1px;
}

.social {
    font-family: font-awesome;
}
