header {
    font-family: 'VT323';
}
.clockWrapper2 {
    border: 10px solid #663300;
    border-radius: 10px;
    background-color: #663300;
}

.clockWrapper {
    content-align: center;
    margin: 0 auto;
    border: 10px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #61110a;
}

.clock {
    height: 10%;
    background-color: #61110a;
    font-size: 4em;
    display: inline-block;
    color: #FF0000;
}