button {
    background-color: #C2B8B2;
    color: #204B57;
    margin: 0 auto;
    width: 8%;
    padding: 2px;
    border: 2px solid #204B57;
    border-radius:30px;
    box-shadow:  5px 5px 5px black;
}

div{
    background-color: #C2B8B2;
    color: #204B57;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #204B57;
    box-shadow:  5px 5px 5px black;
}

p{
    font-family: 'Patua One', cursive;
    font-size: 1em;
}

.body{
    background-color: #8A716A;
}
.title{
    font-family: 'Niconne', cursive;
    font-size: 5em;
}
.append{
    font-family: 'Patua One', cursive;
    font-size: 2.5em;
}
.author{
    color: #125E8A;
    font-family: 'Niconne', cursive;
    font-size: 1.7em;
    padding: 5px;
}

.viewCode{
    width: 20%;
}