button {
    background-color: #49C48E;
    color: #40727B;
    margin: 0 auto;
    width: 8%;
    padding: 2px;
    border: 2px solid #111C76;
    border-radius:30px;
}

div{
    background-color: #49C48E;
    color: #111C76;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #111C76;
}

p{
    font-family: 'Patua One', cursive;
    font-size: 1em;
}

.body{
    background-color: #BBF8CF;
    color: #111C76;
}
.title{
    font-family: 'Niconne', cursive;
}
.append{
    font-family: 'Patua One', cursive;
}
.author{
    color: #40727B;
    font-family: 'Niconne', cursive;
    padding: 5px;
}

.viewCode{
    width: 20%;
}

body color- other blue
body text- blue
quote div- signature dish OR misery seafoam
quote div text- china blue
author text- blue