body {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #F7F7F7;
}

.my-fluid-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.navbar-custom {
  background-color: #a1a1a1;
  border-color: #909090;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#bbbbbb), to(#a1a1a1));
  background-image: -webkit-linear-gradient(top, #bbbbbb, 0%, #a1a1a1, 100%);
  background-image: -moz-linear-gradient(top, #bbbbbb 0%, #a1a1a1 100%);
  background-image: linear-gradient(to bottom, #bbbbbb 0%, #a1a1a1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbbbbb', endColorstr='#ffa1a1a1', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {

}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;

}

.navbar-custom .navbar-nav > li > a > button{
  color: #ffffff;
  background-color: transparent;
  margin: 0;
  border: 0px;
  padding: 10px;

}

.navbar-custom .navbar-nav > li > a > button {
  color: #ffffff;
  background-color: #033076;
  margin: 0;
  border: 0px;
  margin: -10px;
  padding: 10px;
}

.navbar-custom .navbar-nav > li > a > button:hover,
.navbar-custom .navbar-nav > li > a > button:focus{
  color: #757575;
  background-color: #033076;
  margin: 0;
  border: 2px solid white;
  margin: -10px;
  padding: 8px;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #757575;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #757575;
  background-color: #909090;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#909090), to(#aaaaaa));
  background-image: -webkit-linear-gradient(top, #909090, 0%, #aaaaaa, 100%);
  background-image: -moz-linear-gradient(top, #909090 0%, #aaaaaa 100%);
  background-image: linear-gradient(to bottom, #909090 0%, #aaaaaa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff909090', endColorstr='#ffaaaaaa', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {

}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {

}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #909090;
  color: #757575;
}

@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #757575;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #757575;
    background-color: #909090;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #757575;
}
.nav {
  height: 20em;
  background-color: rgb(150,150,150);
  border: 0px solid rgb(150,150,150);
}

.nameTitle {
  color: white;
  margin-left: 10px;
}


.background {
  background-attachment: fixed;
  background-size: cover;
  padding-top: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.cloudy {
  background-color: rgba(110, 100, 91, 0.7);
  color: #F7F7F7;
  padding: 1em;
  border-radius: 5px;
}

a:visited, a:active, a:link {
  color: #F7F7F7;
}

h1 {
  font-size: 5em;
}
.img-center{
  margin: 0 auto;
  width: 90%;
  border: 1px solid #F7F7F7;

}
.headshot{
  background-image:url("https://qph.is.quoracdn.net/main-qimg-d3c651ebca56d4c3cfbbebd736674f1d?convert_to_webp=true");
  height: 5em;
}
.cover {
  background-image: url("http://ums.aadl.org/files/photos/ums_photos_00118.jpg");
  height: 45em;
  margin-top: -10em;
}

.info {
  background-image: url("http://aaronlindberg.com/wp-content/uploads/2014/07/KansasCityArchitecturalPhotographer_02-1024x682.jpg");
}

.portfolio {
  background-image: url("https://img1.etsystatic.com/054/0/9038119/il_fullxfull.723580211_8o8w.jpg");
}

.feature {
  padding: 12px;
}

.contact {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b5/Liberty_Memorial_By_Night.jpg");
}

.portPic{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 15em;
  color: #F7F7F7;
  border: 15px solid #001739;
  padding-top: 3%;
}

.calculator {
  background-image: url("/images/calculator.png");
  border-top-right-radius: 10px;

}

.tictactoe {
  background-image: url("/images/tictactoe.png")
}

.pomodoro {
  background-image: url("/images/pomodoro.png");
  border-bottom-left-radius: 10px;
}

.quote {
  background-image: url("/images/quote.png")
}

.twitch {
  background-image: url("/images/twitch.png");
  border-bottom-right-radius: 10px;
}

.weather {
  background-image: url("/images/weather.png")
}

.wedding {
  background-image: url("/images/wedding.png");
  border-top-left-radius: 10px;
}

.wikipedia {
  background-image: url("/images/wikipedia.png")
}