body {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #F7F7F7;
}

.container-fluid{
  padding: 0px;
}


.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #757575;
  background-color: transparent;
}

.navbar-custom .navbar-nav > li > .briananav {
  color: #ffffff;
}

.navbar-custom .navbar-nav > li > .briananav:hover,
.navbar-custom .navbar-nav > li > .briananav:focus {
  color: #ffffff;
  background-color: #2D877B;
}

.navbar-custom .navbar-nav > li > a > button{
  color: #ffffff;
  background-color: #2D877B;
  margin: 0;
  border: 0px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: 20px;
  padding: 10px;
}

.navbar-custom .navbar-nav > li > a > button:hover,
.navbar-custom .navbar-nav > li > a > button:focus{
  color: white;
  background-color: #2D877B;
  margin: 0;
  border: 2px solid white;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: 20px;
  padding: 8px;
}

.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #757575;
}
.nav {
  background-color: #3C474B;
}

.portbanner {
  height: 3em;
  background-color: #2D877B;
}

.nameTitle {
  color: white;
  margin-left: 25px;
}

.nav2 {
  background-color: #3C474B;
  color: white;
  height: 15em;
}

.nav3 {
  background-color: #3C474B;
  color: white;
  height: 11em;
}

.background {
  background-attachment: fixed;
  background-size: cover;
  padding-top: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.cloudy {
  background-color: rgba(110, 100, 91, 0.7);
  color: #F7F7F7;
  padding: 1em;
  border-radius: 5px;
}

a:visited, a:active, a:link {
  color: #F7F7F7;
}

h1 {
  font-size: 5em;
}

.info {
  background-color: rgba(63, 64, 69, 0.7);
  color: rgba(0, 0, 0, 0);
  height: 0%;
  padding-top: 2px;
  position: absolute;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.left {
  padding-left: 6%;
}

.right {
  padding-right: 5%;
}

.learnMoreBG{
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #3C474B;
}

.learnMore{
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: transparent;
}

.learnMore:hover,
.learnMore:focus{
  background-color: transparent;
  color: #e6e6e6;
  padding-top: 2em;
  padding-bottom: 2em;
}

.padLeft {
  padding-left: 4px;
}

.img-center{
  margin: 0 auto;
  width: 100%;
  border: 1px solid #F7F7F7;
}

.footInfo {
  padding-left: 5px;
  padding-right: 5px;
}

.footLink{

}

.footLink:hover,
.footLink:focus{
  color: #3C474B;
}
.portfolio{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 15em;
}

.contact {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b5/Liberty_Memorial_By_Night.jpg");
}

.foot{
  height: 100%;
  background-color: #2D877B;
  color: white;
}

.calculator {
  background-image: url("/images/calculator.png");
}

.tictactoe {
  background-image: url("/images/tictactoe.png")
}

.pomodoro {
  background-image: url("/images/pomodoro.png");
}

.quote {
  background-image: url("/images/quote.png")
}

.twitch {
  background-image: url("/images/twitch.png");
}

.weather {
  background-image: url("/images/weather.png")
}

.wedding {
  background-image: url("/images/wedding.png");
}

.wikipedia {
  background-image: url("/images/wikipedia.png")
}