h1.tictac {
    padding: 3px;
}

.square {
    color: white;
    background-color: #646881;
    font-size: 3em;
    height: 3em;
}

.hover {
    cursor: pointer;
}

.top {
    border-bottom: 2px solid black;
}

.bottom {
    border-top: 2px solid black;
}

.left {
    border-right: 2px solid black;
}

.right {
    border-left: 2px solid black;
}