body{
    background-color: #E5F4E3;
    font-family: 'Roboto', sans-serif;
}

.header{
    text-align: center;
}
h1.wiki{
    color: #6D326D;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}

h6.wiki {
    color: #003F91;
}

.results{

    border-radius: 10px;
    margin: 15px;
    padding: 5px;
}

a.wiki{
    color: #003F91;
}

button.wiki {
    margin-left: 0px;
    margin-right: 0px;
    height: 4em;
    border-radius: 10px;
    background-color: #6D326D;
}

#searchBtn {
    color: white;
    width: 4em;
}

#randomBtn {
    width: 5em;
    color: white;
}

input.wiki {
    padding: 12px;
    width: 50%;
    border-radius: 10px;
    font-size: 1em;
}