doctype html
html
   head
      title= title
      include ../header.jade
      link(rel="stylesheet/less" type="text/css" href='../stylesheets/dataVisualZiplines/markdown.css')
   block content
      .container
         br
         .col-xs-12.col-sm-6.well#userInput
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu lectus vel erat malesuada varius in a odio. Ut sed pretium mauris, sit amet convallis dolor. Cras consequat id ante sed imperdiet. Morbi viverra sodales arcu, eu imperdiet lacus malesuada eu. Praesent luctus urna et sapien auctor venenatis. Donec id lacinia urna, ut luctus dolor. Sed quis neque laoreet elit blandit rhoncus. Integer ac aliquam felis, ac vestibulum elit. Proin tincidunt orci id nibh ullamcorper consequat. Suspendisse aliquam placerat nisl. Pellentesque pretium dui non maximus tristique. Sed quis leo in enim pretium fringilla. Cras eget est rutrum, suscipit felis ut, commodo dolor. Nunc faucibus tempor lorem eget mattis. Fusce enim est, luctus sed nulla non, tincidunt congue lorem.
               Mauris vulputate, lacus in aliquam ultrices, ipsum ante porttitor dui, nec molestie orci felis sit amet magna. Aenean et velit faucibus, euismod metus vel, ullamcorper ligula. Phasellus at nulla nisi. Fusce cursus rutrum consectetur. Pellentesque semper sodales ipsum, tristique rutrum libero efficitur sit amet. Maecenas sed ex a neque consequat blandit. Donec nec diam sit amet ipsum dignissim fermentum consequat quis ex.
         .col-xs-12.col-sm-6#markdown
            ul What's next
               li React - have whatever user changes in #userinput automatically show up in #markdown
               li Sass - ???
               li Marked - include JS functionality so before react shows stuff, it's run through marked
   body
      br
      include ../footer.jade
      script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js")
      script(src="./javascripts/dataVisualZiplines/markdown.js")
