doctype html
html
   head
      title= title
      include ../header.jade
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
      link(rel="stylesheet" href='./stylesheets/dataVisualZiplines/markdown.css')
   block content
      .container
         .row
            #mount.col-xs-12
         .row
            br
            .col-xs-12.col-sm-6.well
               input(placeholder = 'Put your code here!')#userInput
            .col-xs-12.col-sm-6#markdown
               h1 What's next:
               ul
                  li - React - have whatever user changes in #userinput automatically show up in #markdown
                  li - Sass - It's working, but IDK what I want it to look like
                  li - Marked - include JS functionality so before react shows stuff, it's run through marked
   body
      br
      include ../footer.jade
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
      script(src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.1/react-bootstrap.min.js")
      script(src="https://fb.me/JSXTransformer-0.13.3.js")
      script(src='javascripts/dataVisualZiplines/uncompiled/MarkdownUserInput.js', type = "text/jsx")
      script(src='javascripts/dataVisualZiplines/uncompiled/Markdowns.js', type = "text/jsx")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js")
      script(src="https://fb.me/react-0.13.3.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
