doctype html
html
   head
      title= title
      include ../header.jade
      link(rel="stylesheet" href='./stylesheets/dataVisualZiplines/markdown.css')
   block content
      .container
         br
         .col-xs-12.col-sm-6.well
            input(placeholder = 'Put your code here!')#userInput
         .col-xs-12.col-sm-6#markdown
            h1 What's next:
            ul
               li - React - have whatever user changes in #userinput automatically show up in #markdown
               li - Sass - It's working, but IDK what I want it to look like
               li - Marked - include JS functionality so before react shows stuff, it's run through marked
   body
      br
      include ../footer.jade
      script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js")
      script(src="./javascripts/dataVisualZiplines/markdown.js")
